h2.c-accordion__title {
  font-size: 24px;

  @media (min-width: 1200px) {
    font-size: 40px;
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    font-size: 40px;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    font-size: 28px;
  }
}

.c-accordion__content {
  h2 {
    font-size: 24px;

    @media (min-width: 1200px) {
      font-size: 40px;
    }

    @media (min-width: 992px) and (max-width: 1199px) {
      font-size: 40px;
    }

    @media (min-width: 768px) and (max-width: 991px) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
  }
}
