/* Homepage */
.bg-lightblue {
  background-color: $lightblue;
}

/* News Section */
.section-news h3 a.news-link {
  text-decoration: none;
}

/* Foundations and Guiding Network Pages */
.bg-foundations {
  background-size: cover;
}

.text-burnt ul,
.text-burnt p,
.text-burnt h3,
h2.text-burnt,
h3.text-burnt {
  color: $burnt;
}

.img-rounded--image {
  border-color: $darkbeige;
}

.line-right-reduced::before,
.line-diagonal-right::before,
.line-diagonal-left::before,
.line-horizontal-right::before,
.line-horizontal-left::before {
  background: $darkbeige;
}

.line-right-reduced::before,
.line-right {
  border-color: $darkbeige;
}

.img-rounded--text.burnt {
  background: rgba(255, 255, 255, 0.75);
  border: 12px solid $darkbeige;
}

/* Action Plan Page */
.template-action-plan {
  .goals-sub-header {
    color: #4c4d4f !important;
  }

  .strategic-plan {
    display: block;
    margin-top: 32px !important;
    margin-bottom: 32px !important;
    font-size: 40px;
    text-decoration: none !important;
  }

  .strategic-plan:hover,
  .strategic-plan:focus {
    text-decoration: underline !important;
  }
}
